.logo {
  width: 32px;
  height: 32px;
}

.nav-links {
  font-family: Manrope-bold;
  text-decoration: none;
  color: #fff;
}

.nav-links-dd {
  font-family: Manrope-bold;
  text-decoration: none;
  color: #000;
}
.nav-links-dd.active {
  color: #317aff;
}
.nav-links:hover {
  color: #317aff;
}
.nav-links-dd:hover {
  color: #317aff;
}
.nav-links.active {
  color: #317aff;
}

.rewards-link {
  color: #317aff;
  text-decoration: none;
}
.rewards-link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.menu-icon:hover {
  cursor:pointer;
}