.logo {
  width: 32px;
  height: 32px;
}

.nav-links {
  font-family: Manrope-semibold;
  text-decoration: none;
  color: #000;
  text-decoration: none;
}
.nav-links-website {
  color: #000!important;
  text-decoration: none!important;
}
.nav-links-dd {
  font-family: Manrope-bold;
  text-decoration: none;
  color: #000;
}
.nav-links-dd.active {
  color: #317aff;
}
.nav-links:hover {
  color: #317aff;
}
.nav-links-dd:hover {
  color: #317aff;
}
.nav-links.active {
  color: #317aff;
}

.rewards-link {
  color: #317aff;
  text-decoration: none;
}
.rewards-link:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.menu-icon:hover {
  cursor:pointer;
}

.minima-landscape {
  width: 148px;
}

.iframe-website {
  display: block;       /* iframes are inline by default */
  background: #000;
  border: none;         /* Reset default border */
  height: 100vh;        /* Viewport-relative units */
  width: 100vw;
  position: relative;
  right: 0;
  top: 16px;
  bottom: 0;
  left: 0px;
  margin-top: 0!important;
}

.error {
  color: red!important;
}